body {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
    font-size: 20px;
    font-family: "Inter", sans-serif;
}

.container{
    min-width: 100%;
    display: flex;
}

.menu-buttons{
    background: #1D1F20;
    white-space: nowrap;
}

.menu-buttons svg{
    max-width: 60px;
    max-height: 60px;
}

.button{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.main {
    background: #232627;
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex: 1;
}

.main-block {
    flex: 1;
    overflow: auto;
}

.main-buttons {
    display: flex;
    gap: 20px;
    padding: 10px 20px;
}



.main-block{
    padding: 20px;
}
.table-inv {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
}

.table-offers {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
}

.table-targets {
    display: grid;
    /*grid-template-columns: repeat(7, 1fr);*/
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 15px;
}

.table-eight {
    display: grid;
    /*grid-template-columns: repeat(8, 1fr);*/
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 15px;
}

.cell.bought input {
    color: red;
    font-weight: bold;
}

.cell.sold input {
    color: green;
    font-weight: bold;
}

.red {
    color: #CF5959;
    font-family: 'Segoe UI Emoji', sans-serif;
}

.lock-icon {
    width: 19px;
    height: 19px;
    vertical-align: top;
    margin-top: 1px;
}



#searchInput {
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    background: #1d1f20;
    color: white;
    font-size: 14px;
    outline: none;
    width: 220px;
    transition: all 0.2s ease;
    box-shadow: 0 0 0 2px transparent;
}

#searchInput::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

#searchInput:focus {
    box-shadow: 0 0 0 2px #8DD294;
}

.delete-btn {
    width: 100%;
    background-color: #1e1e1e;
    color: #ff4d4d;
    border: 1px solid #ff4d4d;
    padding: 6px 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s ease;
    font-size: 16px;
}

.delete-btn:hover {
    background-color: #ff4d4d;
    color: #fff;
}

/*.header {*/
/*    background: linear-gradient(90deg, #74CBBA, #8DD294);*/
/*    -webkit-background-clip: text;*/
/*    -webkit-text-fill-color: transparent;*/
/*    background-clip: text;*/
/*    text-fill-color: transparent;*/
/*    border-radius: 5px;*/
/*    padding: 10px;*/
/*    text-align: center;*/
/*    font-weight: bold;*/
/*    background-color: #1D1F20;*/
/*}*/

.header {
    position: relative;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    border-radius: 6px;
    background-color: #1D1F20;
    color: transparent;

    /* для градієнту */
    background-image: linear-gradient(90deg, #74CBBA, #8DD294);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.back-header{
    border-radius: 6px;
    background-color: #1D1F20;

    display: flex;
    align-items: center;
    justify-content: center;
}


.table-history {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.cell input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: none;
    background-color: #1e1e1e;
    color: white;
    text-align: center;
}

.cell.red input {
    background-color: #CF5959;
    color: white;
}

.cell {
    display: flex;
    align-items: center;
}

.add-button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 6px;
    background: linear-gradient(90deg, #74CBBA, #8DD294);
    color: white;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



.form-container {
    background-color: #2b2b2b;
    border-radius: 16px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 400px;
}
.form-input {
    padding: 10px;
    border-radius: 5px;
    background: transparent;
    color: white;
    border: 2px solid;
    border-image: linear-gradient(to right, #74CBBA, #8DD294) 1;
    outline: none;
    font-size: 16px;
}
.form-input::placeholder {
    color: #cccccc;
}

.svg-button {
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    align-self: center;
}